<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>
            login.html
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setds</servlet-name>
        <servlet-class>Setds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con</servlet-name>
        <servlet-class>Con</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cont</servlet-name>
        <servlet-class>Cont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fail</servlet-name>
        <servlet-class>Fail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Showbal</servlet-name>
        <servlet-class>Showbal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withd</servlet-name>
        <servlet-class>Withd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepin</servlet-name>
        <servlet-class>Changepin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newpin</servlet-name>
        <servlet-class>Newpin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Idcheck</servlet-name>
        <servlet-class>Idcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chkpin</servlet-name>
        <servlet-class>Chkpin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Miinipin</servlet-name>
        <servlet-class>Miinipin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiniState</servlet-name>
        <servlet-class>MiniState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdrawamt</servlet-name>
        <servlet-class>Withdrawamt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel</servlet-name>
        <servlet-class>Cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkSession</servlet-name>
        <servlet-class>ChkSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clear</servlet-name>
        <servlet-class>Clear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setds</servlet-name>
        <url-pattern>/Setds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con</servlet-name>
        <url-pattern>/Con</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cont</servlet-name>
        <url-pattern>/Cont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fail</servlet-name>
        <url-pattern>/Fail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Showbal</servlet-name>
        <url-pattern>/Showbal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withd</servlet-name>
        <url-pattern>/Withd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepin</servlet-name>
        <url-pattern>/Changepin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newpin</servlet-name>
        <url-pattern>/Newpin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Idcheck</servlet-name>
        <url-pattern>/Idcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chkpin</servlet-name>
        <url-pattern>/Chkpin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Miinipin</servlet-name>
        <url-pattern>/Miinipin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiniState</servlet-name>
        <url-pattern>/MiniState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawamt</servlet-name>
        <url-pattern>/Withdrawamt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkSession</servlet-name>
        <url-pattern>/ChkSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clear</servlet-name>
        <url-pattern>/Clear</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
